@font-face {
    font-family: "GrapeSoda";
    src: url("font/GrapeSoda.ttf");
}


.root {
    -fx-background-color:      #b4e656   ;
    -fx-font-family: "GrapeSoda";
}

.title{
    -fx-text-fill:   #14081a  ;
    -fx-font-size: 45;
}

.buttonOffMouse{
    -fx-text-fill: #14081a;
    -fx-font-size: 40;
    -fx-background-color:   #3ec54b;
}

.buttonOnMouse{
    -fx-text-fill: #14081a;
    -fx-font-size: 40;
    -fx-background-color:  #6b2c40 ;

}
